:root {
    --default-text-color: rgb(105, 105, 105);
    --default-title-color: rgb(51, 37, 144);
}

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--default-text-color);
    line-height: 1.5;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: var(--default-title-color);
}

#document-title {
    margin-top: 1rem;
}

#stock-chart,
#assets-chart {
    margin: auto;
}

form {
    margin: auto;
    width: 80vw;
}

input {
    font-size: 2rem;
    color: var(--default-text-color);
}
